[user]
	name = Santiago Carmona Gonzalez
	email = dev.santicarmo31@gmail.com
[color]
	ui = true
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	tree = log --graph --pretty
	ll = log --stat --abbrev-commit
	da = !git add --all && git reset --hard
	dev = !git checkout develop && git pull origin develop
	pod = !git pull origin develop
	upb = !git log --branches --not --remotes --no-walk --decorate --oneline
[core]
	compression = 9
	editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[push]
	default = current
[pull]
	rebase = true
[credential]
      helper = osxkeychain
[mergetool]
	keepBackup = false
